.bar-positive .button-clear{
  color:white!important;
}

#timerButtons button{
  width:90%;
  height:130px;
  font-size:3em;
}

#timeRemaining {
    text-align: center;
    padding-top: 20%;
}

#timeRemaining timer {
    font-size: 7em;
}

#timeRemaining button {
    margin-top: 5%;
}

.col{
  text-align:center;
}
